@font-face {
  font-family: 'Heebo';
  src: url('./fonts/Heebo-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 900;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
color: #fff !important;
  background-size: cover;
  
}

body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}


a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  }
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}


nav.navbar a.navbar-brand {
    width: 20%;
    }
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
color: #fff  !important;
  letter-spacing: 0.8px;
  padding: 10px 5px;
  margin: 15px;
  font-size: 18px;
  opacity: 0.75;
  border-bottom: 2px solid transparent;
  /* Transition for smooth animation */
  transition: border-bottom-color 0.4s  ease-in-out;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
  border-bottom-color: #fff; 

}
span.navbar-text {
    display: flex;
    align-items: center;
}

.vvd {
  font-weight: 600;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.vvd span {
  z-index: 1;
}
.vvd::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.vvd:hover {
  color: #121212;
}
.vvd:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/* Home page css*/

/* .home-container{
  background: linear-gradient(rgba(247, 246, 244, 0.7), rgba(15, 23, 43, 0.6)), url(./images/bg-home.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.banner {
  margin-top: 0;
  padding: 200px 0 85px 0;
  background-image: url(./images/bg-night.jpg);
  background: linear-gradient(90.21deg, rgba(67, 56, 63, 0.2) -5.91%, rgba(60, 101, 93, 0.3) 111.58%), url(./images/bg-night.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  }
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 0px 0px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  display: inline-block;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}
.tagline-skills{
  background: linear-gradient(90.21deg, rgba(21, 202, 172, 0.5) -5.91%, rgba(21, 202, 172, 0.5) 111.58%)!important;
  margin-bottom: 0 !important;
}
.banner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 10px;
  display: block;
}
.banner p {
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.col-intro{
  padding-top: 5%;
}
.col-intro a{
  text-decoration:underline;
  color: #fff;
}

.col-intro a:hover{
  color: #36aa97;
}

.banner button {
  margin-left: 0;
  letter-spacing: 0.8px;
}
.my-img {
  animation: updown 3s linear infinite;
  border-radius: 20px;
}

.div-btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-resume {
  font-weight: 600;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.btn-resume:hover{
  color: #121212;
  background-color: #fff;
}


.social-icon {
  display: flex;
  margin-right: 10%;
  margin-left: 30px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin: 15px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  }
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}







.section-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cddade;
  padding: 5%;
  position: relative;
  background: url(./images/18391.jpg);
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.section-projects h1 {
display: inline-block;
background: linear-gradient(90.21deg, rgba(26, 78, 12, 0.5) -5.91%, rgba(142, 124, 220, 0.5) 111.58%);
padding: 5px;
border-radius: 20px;
color: #ffffff ;

}
.skill{
  width: 100%;
  color : #02303f;
  padding: 2%;
}
.skill-bx {
background: linear-gradient(90.21deg, rgb(241, 244, 241,0.9) -5.91%, rgba(241, 244, 241) 111.58%);
border-radius: 64px;
text-align: center;
padding: 2% 0;
}
.skill h2 {
font-size: 30px;
font-weight: 700;
}
.item p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  padding: 0 8%;
  text-align: justify;
}
.skill-bx {
  position: relative; /* Set position to relative */
}

.item strong {
  color: #0463ab;
  font-size: 18px;
}
.skill-slider {
width: 90%;
margin: 0 auto;
position: relative;
}

.react-multiple-carousel__arrow--left {
  left: 0% !important;
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}

.react-multiple-carousel__arrow--right {
  right: 0 !important; /* Adjust right position */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
}











.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 100px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}





.section-footer {
  padding:20px 0;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.footer-logo {
  flex: 1; /* Take up remaining space */
}

.footer-logo img{
  width: 30%; /* Adjust the width as needed */
  margin-left: 20%;
}








.sec-education{
  background-image: url(./images/edu-bg.jpg);
  background-size: cover;
  padding: 0 !important;
}

.col-edu{
  display: flex;
  flex-direction: column;
}


.block-edu{
background: linear-gradient(90.21deg, rgb(241, 244, 241) -5.91%, rgba(147, 188, 199, 0.2) 111.58%);
border-radius: 24px;
padding: 5%;
color: #000;
margin-top: 20px;
margin-bottom: 20px;
}

.block-edu p{
  color: #000;
}

.block-edu h2{
  font-size: calc(1.3rem + .6vw);
}

.title-edu{
  padding: 20px 0 10px ;
  display: inline-flex;
  transform: rotate(-80deg); /* Rotate around the X axis */
  margin-top: 25%;
}

.title-edu h1{
  background: linear-gradient(90.21deg, rgba(13, 14, 13, 0.1) -5.91%, rgba(12, 4, 165, 0.1) 111.58%);
  padding: 10px;
  border-radius: 10px;;
  margin-top:80%;
  color: #000;
  font-size: 2.5rem;
}

.courses {
  margin-top: 10px;
}

.courses ul {
  list-style-type: none;
}
.courses p{
  margin-bottom: 0;
  font-size: 1rem;
}
.courses li{
  font-size: 0.85rem !important;
}
.edu-tag{
  background: linear-gradient(90.21deg, rgba(243, 149, 204, 0.5) -5.91%, rgba(223, 221, 231, 0.5) 111.58%) !important;
  border-radius: 5px;
  font-size: 1rem !important;
}










.sec-exp{
  background: linear-gradient(90.21deg, rgb(132, 226, 132) -5.91%, rgba(145, 141, 97, 0.9) 111.58%);

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(53, 53, 53);

}

.tech-exp{
  font-size: 1rem;
}
.title{
text-align: center;
padding: 15px;
border-radius: 20px;
color: #ffffff ;
  font-size: 2.5rem !important;
}
.description{
  font-size: 0.8rem !important;
}
.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(201, 251, 255);
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
@media only screen and (max-width: 600px) {
  
  nav.navbar .navbar-nav .nav-link.navbar-link {
    color: #fff;
    opacity: 1; 
  }
  nav.navbar{
    background-color: #121212; /* Set the background color */
  }
  nav.navbar .navbar-nav .nav-link.navbar-link{
    margin-right: auto;
  }
  .div-btns{
  flex-direction: column;
  }
  .social-icon{
    margin-right: 0;
  }
  .skill h2 {
    font-size: 20px;
    padding: 10px 0;;
  }
  .item p, .item strong {
    font-size: 12px;
  }

  .skill-bx {
    padding: 4% 0;
    border-radius: 25px;
  }
  .hidden{
    display:contents;
  }
  .title-edu h1{
    margin-top: 0;
  }
.title-edu{
  transform: rotate(0); /* Rotate around the X axis */
  margin-top: 0%;
}


nav.navbar a.navbar-brand {
  width: 40%;
}
.social-icon {
  margin-left: 0;
}
.msc-tag{
  display: none;
}
.item p {
  letter-spacing: 0.2px;
 
}
.banner { 
  padding: 100px 0 50px 0;
  }

}